.mainLayout {
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: overlay;
  background-color: white;

  &::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 15px;
  }

  &::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.3);
    width: 12px;
  }
}

.mainSkeleton {
  color: green;
}
