@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent !important;
  color: white;
  border-bottom: none;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}
