.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #333;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButtons button {
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoTitle {
  width: 50%;
  color: white !important;
  border: 2px solid white;
  padding: 3px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
}
