$mobile-or-table-screen: 1200px;

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #333;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSkeleton {
  div[class="ant-skeleton-header"] {
    display: flex;
  }
}

.bars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerButtons button {
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoTitle {
  width: 50%;
  color: white !important;
  border: 2px solid white;
  padding: 3px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.logoTitle2 {
  width: 50%;
  color: #333 !important;
  border: 2px solid #333;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.avatar {
  opacity: 1;
  transition: 0.2s opacity;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

@media only screen and (max-width: $mobile-or-table-screen) {
  .header {
    padding: 0 35px !important;
  }

  .logo {
    text-align: center;
    justify-content: flex-start;
  }

  .spaceContainer {
    width: 100%;
  }
}
