.icon {
  transition: all 0.1s ease-in;
  margin-right: 0.5em;
  &:hover {
    cursor: pointer;
  }
}

.followUs {
  height: 100%;

  &__title {
    color: white !important;
    text-align: center;
  }

  &__companyLogo {
    color: white !important;
    text-align: center;
  }

  &__facebook {
    @extend .icon;
    &:hover {
      color: #4267b2;
    }
  }

  &__instagram {
    @extend .icon;
    &:hover {
      color: #833ab4;
    }
  }

  &__twitter {
    @extend .icon;
    &:hover {
      color: #1da1f2;
    }
  }

  &__pinterest {
    @extend .icon;
    &:hover {
      color: #e60023;
    }
  }
}
