@import "/styles/variables.scss";

.section {
  position: relative;
  top: 64px;
  margin: 5rem 0;
  background: white;

  @media (max-width: $mobile-or-tablet-screen) {
    padding: 0;
    margin: 0;
  }
}
