$secondary-font: "Raleway", sans-serif;
$primary-color: #ab966f;

// Section 1

.serviceSection1 {
  position: relative;
  top: 64px;
  height: 20vh;

  background: white;
}

.serviceSection1Title {
  font-size: 84px !important;
  text-align: center;
  font-family: $secondary-font;
  margin-bottom: 0 !important;
}

// Section 2

.serviceSection2 {
  position: relative;
  top: 64px;
  padding: 1em 10em;
  height: 40vh;
  background: white;
}

.servicesOfferedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.serviceItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}

.serviceButton {
  height: 10rem;
  width: 10rem;
  transition: 0.5s background;

  svg {
    font-size: 64px;
    transition: 0.5s color;
  }

  &:hover {
    background: $primary-color;

    svg {
      color: white;
    }
  }
}

// Section 3

.serviceSection3 {
  position: relative;
  top: 64px;
  padding: 1em 10em;
  background: white;
}

.service {
  height: 75vh;
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serviceSection3Title {
  font-size: 64px !important;
  text-align: center;
  margin-bottom: 1.5em !important;
  color: #333 !important;
  font-family: $secondary-font;
}

.serviceSection3ServiceDescription {
  line-height: 2em;
  font-family: $secondary-font;
}
