@import "/styles/variables.scss";

.property {
  &__card {
    position: relative;
    cursor: default;
    box-sizing: border-box;

    &__likeButton {
      margin-left: 0.5em;
      margin-top: 0.5em;
    }

    &__details {
      position: relative;
      height: 100%;
      padding: 0.5em 1em;

      &__name {
        font-family: $secondary-font;
      }

      &__reviews {
        font-family: $secondary-font;
        margin-left: 0.5em;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
          color: $primary-color;
        }
      }

      &__price {
        height: 25%;
        margin-top: 0.5em;
      }

      &__moreDetails {
        padding: 0.5em 1em;
      }
    }
  }
}
